body {
    background: url("../images/wood_pattern.png");
}

header {
    font-family: cursive;
    font-size: 80px;
    padding-bottom: 15px;
    text-align: center;
}

#random {
    font-size: 80px;
    text-align: center;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#instructions {
    font-size: 20px;
}

#scores {
    font-family: cursive;
    font-size: 60px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

#score {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
    padding-bottom: 15px;
}

#jewela,
jewelb,
jewelc,
jeweld{
    cursor: pointer
}

#wins,
#losses {
    font-family: cursive;
    font-size: 75px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

p {
    text-align: center
}